<!-- Site footer -->
<!-- <footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; FOOTER 2020</span>
  </div>
</footer> -->
<footer class="site-footer footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <h6>About</h6>
        <p class="text-justify">Library Managment System is a simple graduation project designed as a simple
          bookstore to help book reading coustmers to have th best
          buying experience,using the latest technologies and friendly user interface, it is easy and seemles
          to buy a book and another in just a matter of clicks Why We Exist
          Our purpose is to invest in the lives of young people and our larger community. Our goal is to transform
          individuals, people, and society through books, events, hospitality, and an infectious work-ethic.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/">Help</a></li>
          <li><a href="/">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#">Library Managment System Team</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/saif.allan.12"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/saif_allan"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="https://github.com/saifallan99"><i class="fab fa-github"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/saif-allan-84a4711b4/"><i
                class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>