<% layout('./layouts/boilerplate')%>
<h1 class="display-1 ml-5">
  FAQs 
</h1>
<main class="container ml-3 mt-2 d-flex">
 
  

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p><strong>Could non-subscribers make use of the Library’s available services? </strong> </p><p> Yes. Non-subscribers can use and benefit from the services provided by the Library, except for book borrowing.The Library’s subscribers have the priority to register and participate in workshops held by the Library.</p> </li>
    <li class="list-group-item"><p><strong>What are the subscription terms and conditions? What are the required documents? </strong> </p><p> - Subscription terms and conditions:

      The subscriber must be at least 16 years of age.<br>
      
      The subscription form must be filled in. (Please note that it is available on the Services counter, located on the Ground Floor of the Library).<br>
      
      The Subscription Insurance fees, amounting to (JOD 10) ten Jordanian dinars, must be paid only once, to be refunded upon subscription cancellation.<br>
      
      - Required documents:<br>
      
      A proof of identity (i.e. a National ID for Jordanians and passport for non-Jordanians)<br>
      
      A valid residence permit for non-Jordanians.</p> </li>
    <li class="list-group-item"><p><strong>What is the subscription period? </strong> </p><p> The subscription lasts for a lifetime, unless the subscriber cancels their subscription and thus, withdraws the Subscription Insurance value paid.</p> </li>
    <li class="list-group-item"><p><strong>Is it possible to cancel the subscription membership? What are the terms and conditions thereto? </strong> </p><p> Yes. Subscribers can cancel their subscription memberships as follows:

      Upon confirmation that no Library-owned books are in their possession. And that the subscriber has subscribed for 6 months or more.</p></li>
    <li class="list-group-item"><p><strong>What are the available subscription options? </strong> </p><p>Individual Subscription, benefiting the individual only.

      Family Subscription, benefiting all family members.
      
      Corporate Subscription, allowing concerned institutions to delegate two employees so as to be in charge of borrowing and returning books, as required.</p> </li>
    <li class="list-group-item"><p><strong>How many books can one borrow? What is the permissible book borrowing duration? </strong> </p><p>With respect to the Individual and Family Subscription, 3 books could be borrowed for a two-week period of time.

      With respect to the Corporate Subscription, 10 books could be borrowed for a two-week period of time as well.</p></li>
    <li class="list-group-item"><p><strong>Could the book borrowing duration be renewed? What is the renewal process?</strong></p> <p> Renewal of the books borrowing duration is allowed for only one time and another two weeks, if the book was not reserved for another subscriber.

      Renewal process:<br>
      Renewal can be carried out by our website check the <stron>help</stron> for the process </p></li>
    <li class="list-group-item"><p><strong>What are the advantages do the Library’s subscribers have? </strong> </p><p> Borrowing books.

      Reserving the Meeting Room.
      
      Using electronic databases (of books and articles) from outside the Library.
      
      A free subscription to the Knowledge Path for children under the age of 16 (Family Subscription).
      
      Borrowing audio books.
      
      A priority to attend the Library’s training workshops.
      
      Using Internet devices.</p> </li>
    <li class="list-group-item"><p><strong>Are there any other existing branches of the Library? </strong> </p><p> To date, there are no other existing branches of the Library, except for the main one located in Amman, Jordan.</p></li>
    <li class="list-group-item"><p><strong>What is the address of the Library? </strong> </p><p> Amman - Jabal Amman, Second Circle, 15 Al-Kulliyah Al-Elmiyah Al-Eslamiyah Street, at the opposite of the Embassy of Iraq.</p> </li>
    <li class="list-group-item"><p><strong> Is it permissible to photocopy pages of a book or an article in a journal available at the Library?</strong> </p><p>Yes. This service is made available by an external contractor, in exchange for a nominal amount based on the number of pages to be copied.</p></li>
    <li class="list-group-item"><p><strong>Are electronic copies of references available in the Library? </strong> </p><p>No electronic copies of references are available in the Library; however, electronic databases exist, allowing beneficiaries to make use of and benefit from available e-books and articles.</p> </li>
    <li class="list-group-item"><p><strong>Are there any fees incurred in exchange of the Library’s services? </strong> </p><p>All Library’s services, activities and events are free of charge.
    </p> </li>
    <li class="list-group-item"><p><strong>Is it possible to reserve a material, which is already lent to another subscriber? </strong> </p><p>Yes. The reservation can be done under the subscriber's name.</p></li>
    <li class="list-group-item"><p><strong>Can I order a specific book, which is not found in the Library? </strong> </p><p>Yes. This can be carried out by filling in a dedicated application form. In this respect, the Library will contact the concerned person upon the requested book’s arrival.</p> </li>
    <li class="list-group-item"><p><strong>What subjects are available in the Library? </strong> </p><p>our library is a public library, encompassing a wide variety of books on all subjects.</p></li>
    <li class="list-group-item"><p><strong>What is the Library's adopted classification system? </strong> </p><p>The Dewey Decimal Classification 23 (DDC).</p> </li>
    <li class="list-group-item"><p><strong>Are all Library’s material available in Arabic? </strong> </p><p>The Library provides books in Arabic and English mainly, along with another collection of books in French and some other languages.</p></li>
    <li class="list-group-item"><p><strong>Could one buy books from the Library? </strong> </p><p>No.Our library is a public library, and affiliated to a non-profit Foundation, providing various material for reading and borrowing purposes only.</p></li>
  
  </ul>

</main>