<% layout('./layouts/boilerplate')%>
    <main class="container d-flex justfy-content-center">
        <section id="mainContent" class="eight columns">
            <a name="mainContentSkipLink" id="mainContentSkipLink" tabindex="-1"></a>
            <div class="skip"></div>
            <div id="help-wrapper">
                <h3>Using your digital library</h3>

                <div id="accord1">
                    <a class="accordHeading far fa-caret-square-down openHeadingPanel help_menus"><span
                            class="hpText">GETTING STARTED</span></a>
                    <ul class="accordExpand" style="overflow: hidden; display: none;">

                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down openPanel"><span class="hpText">Home
                                    page</span></div>
                            <div class="hPanel" style="overflow: hidden; display: none;">

                                <p class="no-margin-bottom">you can start with the home page <img src="images\home.PNG"
                                        alt="home.png"> which you can find a big collection of most viewed books and a
                                    collection of recommended and in high demand books.
                                <p class="no-margin-bottom">or you can browse all of our books and categories using the
                                    <stron>Browse</stron> <img src="images\browse.PNG" alt="browse"> to find a
                                    collection of books
                                </p>
                                <p class="no-margin-bottom">you can subscribe using <stron>Subscribe</stron> <img
                                        src="images\sub.PNG" alt="sub"> to subscribe to a different plans so you can
                                    enjoy our website to the fulliest </p>
                                <p class="no-margin-bottom">usint the <stron>Help</stron> <img src="images\help.PNG"
                                        alt="help"> to navigate through the site </p>
                                <p class="no-margin-bottom">use the <stron>FAQ</stron> <img src="images\faq.PNG"
                                        alt="faq"> to see the most Frequent asked questions about our site and others
                                    more </p>
                            </div>
                        </div>


                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down openPanel"><span class="hpText">Browse
                                    page</span></div>
                            <div class="hPanel" style="overflow: hidden; display: none;">
                                here you can browse all different type of catigories or books just click on the details
                                button <img src="images\details.PNG" alt="details"> to see specific book details such as
                                author,price,name of the book and to do such more as like bowrrowing the book.
                            </div>
                        </div>



                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down openPanel"><span class="hpText">Subscribe
                                    page</span></div>
                            <div class="hPanel" style="overflow: hidden; display: nonek;">
                                here you can <strong>Subscribe</strong> to many of our different plans that gives you
                                premium prevliges over non subscribed users.

                            </div>
                        </div>
                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down openPanel"><span class="hpText">Help
                                    page</span></div>
                            <div class="hPanel" style="overflow: hidden; display: none;">
                            </div>
                        </div>
                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down openPanel"><span class="hpText">FAQ
                                    page</span></div>
                            <div class="hPanel" style="overflow: hidden; display: none;">
                                here you can see the most Frequent asked questions in the <strong>FAQ</strong> page

                            </div>
                        </div>
                    </ul>
                </div>
                <div id="accord2">
                    <a class="accordHeading far fa-caret-square-down  help_menus"><span class="hpText">BORROWING
                            TITLES</span></a>
                    <ul class="accordExpand" style="overflow: hidden; display: none;">

                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down openPanel"><span class="hpText">How do I
                                    find something to borrow?</span></div>
                            <div class="hPanel" style="overflow: hidden; display: none;">

                                <p class="no-margin-bottom">You can browse books on the library’s homepage, or select a
                                    collection featured under <strong>Browse </strong>(<img class="menu-icon mb-4 "
                                        src="images\browse.PNG" alt="Menu icon image">).</p>

                                <p class="no-margin-bottom">Or, use the search bar (<img class="search-icon mb-4"
                                        src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/search-icon.png"
                                        alt="Search icon image"> ) to search by title, author, or keyword. For more
                                    search options, select <strong>Advanced Search</strong>.</p>
                                <img src="images\search.PNG" alt="Advanced search image">

                            </div>
                        </div>


                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I borrow
                                    titles?</span></div>
                            <div class="hPanel">

                                <ol>
                                    <li>Move your mouse over a title (or tap it on a mobile device), then select
                                        <strong>Borrow</strong>.
                                        <img src="images\borrow.PNG" alt="Borrow book button image">
                                        Or, select <strong>more</strong> to see the title’s details page. From here,
                                        select <strong>Borrow</strong> to borrow the title.
                                        <img src="images\whole_book.PNG" alt="Details page borrown button image">
                                    </li>
                                    <li>If prompted, sign in to continue.</li>
                                    <li>You can find borrowed titles on your <strong><a
                                                href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a></strong>
                                        page (under your <strong>Account</strong> in the library’s digital collection).
                                    </li>

                                </ol>

                            </div>
                        </div>

                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I change how
                                    long I can borrow titles?</span></div>
                            <div class="hPanel">

                                <p>In the library’s digital collection, go to <strong>Account &gt;
                                        Dashboard</a></strong> to change how long you can borrow each type of title.
                                    When you change a lending period, it will only apply to new titles that you borrow,
                                    not titles that you already have checked out.</p>

                            </div>
                        </div>

                    </ul>
                </div>

                <!-- <div id="accord3">
    <a class="accordHeading far fa-caret-square-down"><span>READING TITLES</span></a>
    <ul class="accordExpand">
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I download borrowed eBooks?</span></div>
    <div class="hPanel">
    
    
    
    <p>To download an eBook, follow these steps.</p>
    
    <p><strong>First, install free software</strong></p>
    
    <p>You'll need to install free software before you can download eBooks.</p>
    
    <ul>
        <li><strong>Tablets, smartphones, Chromebooks, and Windows 8/10:</strong> Install the <a href="https://app.overdrive.com/">free OverDrive app</a>. </li>
        <li><strong>Windows 7 or Mac computers:</strong> Install <a href="https://www.adobe.com/solutions/ebook/digital-editions/download.html">Adobe Digital Editions</a>.</li>
    </ul>
    
    <p><strong>Then, download eBooks</strong></p>
    
    <ol>
        <li>Open the library's digital collection using the OverDrive app or your computer's web browser.</li>
        <li>Go to your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a></strong> page (under your <strong>Account </strong>in the library’s digital collection). If prompted, sign in.</li>
        <li>Select <strong>Download</strong> or <strong>Add to app</strong> to download eBooks to the OverDrive app or Adobe Digital Editions.
            <ul>
                <li>If you're using the OverDrive app, you'll find your downloaded eBook on the app <strong>Bookshelf</strong>.</li>
                <li>If you're using Adobe Digital Editions, you may need to "authorize" (sign into) it with a free OverDrive account or Adobe ID the first time you download an eBook.</li>
                <li>Some eBooks come in more than one download format (like EPUB, Open EPUB, or PDF). All EPUB formats work in the OverDrive app, and all EPUB and PDF formats work in Adobe Digital Editions. Once you choose a format, you can't change it.</li>
            </ul>
        </li>
    </ol>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I read borrowed eBooks in my web browser?</span></div>
    <div class="hPanel">
    
    <p>From your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a> </strong>page (under your <strong>Account</strong> in the library’s digital collection), select<strong> Read (In your browser) </strong>to begin reading eBooks in your web browser right away using OverDrive Read.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/checkouts_odr_button.png" alt="OverDrive Read button image">
    
    <p>OverDrive Read is a browser-based eBook reader that works on most computers, tablets, and mobile devices with up-to-date web browsers.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odr-ui.png" alt="OverDrive read layout image">
    
    <p>OverDrive Read has many features, like the ability to add bookmarks, search for terms, add notes and highlights, look up words, and adjust the font.</p>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">What are some features of OverDrive Read?</span></div>
    <div class="hPanel">
    
    <p>In OverDrive Read, you can:</p>
    
    <ul>
        <li>Click or tap the right or left edges of the eBook to turn the pages.</li>
        <li>Click or tap and hold a word to define it, make a note, or highlight some text.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odr-define.png" alt="OverDrive Read extras image">
        <li>On larger screens, click or tap the bookmark icon to save a bookmark.</li>
        <li>On smaller screens, tap the top-right corner of the screen to save a bookmark.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odr-bookmark.png" alt="OverDrive Read bookmark image">
        <li>Click or tap the middle of the screen to bring up the seek bar, which you can use to move backward or forward in the eBook. You'll also see chapter breaks, bookmarks, and highlights here.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odr-seek-bar.png" alt="OverDrive Read seek bar image">
        <li>On a larger screen, use the display buttons at the top of the screen to switch between a one-page and two-page display. On a tablet or phone in landscape orientation, tap the middle of the screen first, then use the display buttons.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odr-display-buttons.png" alt="OverDrive Read display button image">
        <li>Select <img class="odr-menu-icon" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odr-menu-button.png" alt="OverDrive Read menu button image"> to open the menu. In the menu, you’ll find:
            <ul>
                <li><strong>Search</strong>: Look for a word or phrase in the text.</li>
                <li><strong>Chapters</strong>: Browse the eBook's table of contents and quickly jump to chapters or sections.</li>
                <li><strong>Bookmarks</strong>: View the bookmarks, notes, and highlights you've placed in the eBook. Click one to return to that part of the text.</li>
                <li><strong>Reading Settings</strong>: Adjust the eBook's text size, lighting, and font (available for most eBooks).</li>
                <li><strong>Offline Access</strong>: Download an eBook in your browser so you can read it later without an internet connection.<br> <strong><em>Note:</em></strong><em>Some titles, like&nbsp;read-alongs, are too large to completely download in your browser.</em></li>
                <li><strong>Tips &amp; Secrets</strong>: Find advanced tips and tricks for using OverDrive Read.</li>
            </ul>
        </li>
    </ul>
    
    <p>In a read-along eBook, you'll also see:</p>
    
    <ul>
        <li><strong>Narration</strong>: Start playback or adjust the volume and playback speed.</li>
    </ul>
    
    </div>
    </div>
    
    </ul>
    </div> -->


                <!--     
    <div id="accord5">
    <a class="accordHeading far fa-caret-square-down"><span>LISTENING TO TITLES</span></a>
    <ul class="accordExpand">
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I download borrowed audiobooks?</span></div>
    <div class="hPanel">
    
        <p>On any computer or device, you can install free software to download audiobooks.</p>
        
        <p><strong>On a mobile device:</strong></p>
        
        <ol>
            <li>Install the free OverDrive app from your device’s app store or <a href="https://app.overdrive.com">overdrive.com</a> and follow the prompts to sign in.</li>
            <li>In the app, open the library's digital collection.</li>
            <li>Go to your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a></strong> page (under your <strong>Account </strong>in the library’s digital collection). If prompted, sign in.</li>
            <li>Select <strong>Add to app</strong> or <strong>Download</strong> next to the audiobook.</li>
            <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/checkouts_add_mp3.png" alt="MP3 Audiobook add to app button image">
            <li>After the audiobook downloads, you can find it on your <strong>Bookshelf</strong> in the OverDrive app.</li>
        </ol>
        
        <p><strong>On a Windows or Mac computer:</strong></p>
        
        <ol>
            <li>Install OverDrive’s desktop app from <a href="https://app.overdrive.com">overdrive.com</a>.</li>
            <li>Open the library's digital collection in your web browser.</li>
            <li>Go to your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a></strong> page (under your <strong>Account</strong>). If prompted, sign.</li>
            <li>Select <strong>Download</strong> next to the audiobook.</li>
            <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/checkouts_download_mp3.png" alt="Download MP3 Audiobook button image">
            <li>After the audiobook downloads, you can find it in your media library in the desktop app. From there, you can burn it to CD or transfer it to an MP3 player or iPod.</li>
        </ol>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I listen to borrowed audiobooks in my browser?</span></div>
    <div class="hPanel">
    
    <p>From your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a> </strong>page (under your <strong>Account </strong>in the library’s digital collection), select<strong> Listen (In your browser) </strong>to listen to borrowed audiobooks in your browser using OverDrive Listen.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/checkouts_odl.png" alt="OverDrive Listen button image">
    
    <p>You can use OverDrive Listen on most devices, as long as you have an active internet connection.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-ui.png" alt="OverDrive Listen layout image">
    
    <p>OverDrive Listen offers features like the ability to skip forward or backward in the audiobook, adjust playback speed, set a sleep timer, and add bookmarks, notes, and highlights.</p>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">What are some features of OverDrive Listen?</span></div>
    <div class="hPanel">
    
    <p>In OverDrive Listen, you can:</p>
    
    <ul>
        <li>Swipe right on the book jacket to rewind, or swipe left on the book jacket to jump ahead. The farther you swipe, the further you jump.<br> <strong><em>Note:</em></strong><em>This feature is only available in Safari, Firefox, and Chrome.</em></li>
        <li>Click or tap on the book jacket to show the skip and play buttons and hide the timeline.</li>
        <li>Use <img class="listen-icons" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-bookmark-icon.png" alt="OverDrive Listen bookmark image"> to add bookmarks, highlights, and notes to an audiobook.</li>
        <li>Click or tap <img class="listen-icons" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-play-speed-icon.png" alt="OverDrive Listen play speed image"> to switch between common playback speeds. Drag down on the button to select a more precise speed.</li>
        <li>Click or tap <img class="listen-icons" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-sleep-timer-icon.png" alt="OverDrive Listen sleep timer image"> to set a 30-minute sleep timer (by default). Drag down on the button to select a different sleep timer and make it your default.</li>
        <li>Click or tap <img class="listen-icons" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-bookmark-icon.png" alt="OverDrive Listen bookmark image"> to add a bookmark.</li>
        <li>Hold <img class="listen-icons" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-bookmark-icon.png" alt="OverDrive Listen bookmark image"> while audio is playing to record a highlight. When you release <img class="listen-icons" src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/odl-bookmark-icon.png" alt="OverDrive Listen bookmark image">, the highlighter colors will appear. You can also make a note on a highlighted passage or a bookmark.</li>
    </ul>
    
    </div>
    </div>
    
    </ul>
    </div> -->




                <div id="accord7">
                    <a class="accordHeading far fa-caret-square-down  help_menus"><span class="hpText">RETURNING
                            TITLES</span></a>
                    <ul class="accordExpand">

                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down"><span class="hpText">Do I need to return
                                    titles when I’m done with them?</span></div>
                            <div class="hPanel">

                                <p>No, your borrowed titles are automatically returned on their due date.</p>

                                <p>If you’d like to return a title early to make room for more checkouts, you can do so
                                    from the app or software you used to download it, or from your
                                    <strong>Dashboard</a></strong> page (under your <strong>Account </strong>in the
                                    library’s digital collection).
                                </p>

                            </div>
                        </div>



                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I return titles
                                    from my Dashboard page?</span></div>
                            <div class="hPanel">

                                <p>You can return any title right from the library’s digital collection. Just select the
                                    <strong>Return Title</strong> button below the title on your <strong>Dashboard</a>
                                    </strong>page (under your <strong>Account </strong>in the library’s digital
                                    collection).
                                </p>
                                <img src="images\return.PNG" alt="Return title button image">

                            </div>
                        </div>

                    </ul>
                </div>

                <div id="accord8">
                    <a class="accordHeading far fa-caret-square-down  help_menus"><span class="hpText">RENEWING
                            TITLES</span></a>
                    <ul class="accordExpand">

                        <div class="hpWrapper">
                            <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I renew
                                    titles?</span></div>
                            <div class="hPanel">

                                <p><em>When you renew a digital title, it lets you borrow the title again right after
                                        your current checkout expires.</em></p>

                                <p><em>You can renew a title starting three days before it expires, as long as there are
                                        no holds on it. If the title has holds, you can't renew it, but you can request
                                        it again.</em></p>

                                <p><em>Follow these steps to renew a digital title:</em></p>

                                <ol>
                                    <li>On the library <strong>Dashboard</a> </strong>page, select the
                                        <strong>Renew</strong> link next to the title you'd like to renew.<br>
                                    </li>
                                    <img src="images\renew.PNG" alt="Renew title link image">
                                    <li>Enter and confirm your email address, then click <strong>Renew</strong>. A copy
                                        of the title will be placed on hold for you, so you can borrow it again right
                                        after your current checkout expires.</li>

                                </ol>

                            </div>
                        </div>
                        <!-- <div id="accord9">
    <a class="accordHeading far fa-caret-square-down"><span>PLACING HOLDS</span></a>
    <ul class="accordExpand">
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I put an unavailable title on hold?</span></div>
    <div class="hPanel">
    
    <p>If a title isn’t available, you’ll see a <strong>Place a Hold</strong> button instead of a <strong>Borrow</strong> button. Follow the steps below to place a hold and be notified when the title is available for you to borrow.</p>
    
    <ol>
        <li>Move your mouse over the title (or tap it on a mobile device), then select <strong>Place a Hold</strong>.
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/hover-place-hold-button.png" alt="Place a hold button image">
        <br> Or, select <strong>more </strong>to see the title’s details page, then select <strong>Place a Hold.</strong></li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/title-details-place-hold.png" alt="Details page place a hold button image">
        <li>If prompted, sign in to continue.</li>
        <li>Enter and confirm your email address, then click <strong>Place a Hold</strong>.</li>
        <li>Once the title becomes available, you’ll receive an email notification and have three days to borrow it.</li>
    </ol>
    
    <p>You can see your holds on your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyAccount.htm?PerPage=40%23myAccount2">Holds</a></strong> page (under your <strong>Account </strong>in the library’s digital collection).</p>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I borrow an available hold?</span></div>
    <div class="hPanel">
    
    <ol>
        <li>In the library’s digital collection, click or tap <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Account</a></strong>.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/DLR_account_icon.png" alt="Account button image">
        <li>Select your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyAccount.htm?PerPage=40%23myAccount2">Holds</a> </strong>page.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/account-holds.png" alt="Account hold section image">
        <li>Select the <strong>Borrow </strong>button next to your available hold.</li>
    </ol>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">What is the “suspend hold” feature?</span></div>
    <div class="hPanel">
    
    <p>Suspending a hold lets you choose a window of time where you'll continue moving up a title's holds list, but the title won’t become available for you to borrow. For example, you might want to suspend your hold on a popular eBook if you’re getting near the top of its holds list, but you know you won’t be able to read it soon because you're in the middle of reading another book.</p>
    
    <p>To suspend a hold:</p>
    
    <ol>
        <li>In the library’s digital collection, click or tap <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Account</a></strong>.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/DLR_account_icon.png" alt="Account button image">
        <li>Select your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyAccount.htm?PerPage=40%23myAccount2">Holds</a> </strong>page.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/account-holds.png" alt="Account hold section image">
        <li>Select <strong>Suspend hold</strong> in the “Options” menu next to the title.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/suspend-hold.png" alt="Suspend hold link image">
        <li>Choose the number of days you’d like to suspend your hold, then select <strong>Submit</strong>.</li>
    </ol>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I change my email address for hold notifications?</span></div>
    <div class="hPanel">
    
    <p>Follow the steps below to change your email address for hold notifications.</p>
    
    <p><strong><em>Note:</em></strong><em>You need to update your notification email address individually for current holds. Once you update any title's hold notification email, the new email address becomes the default for future holds.</em></p>
    
    <ol>
        <li>In the library’s digital collection, click or tap <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Account</a></strong>.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/DLR_account_icon.png" alt="Account button image">
        <li>Select your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyAccount.htm?PerPage=40%23myAccount2">Holds</a> </strong>page.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/account-holds.png" alt="Account hold section image">
        <li>Select<strong>Edit email address</strong>from the <strong>Options</strong> drop-down menu next to the title that needs a new email address for your hold notification.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/edit-email.png" alt="Edit email address link image">
        <li>Enter and confirm your new email address, then select <strong>Update</strong>.</li>
    </ol>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I remove a hold?</span></div>
    <div class="hPanel">
    
    <p>If you no longer want a title you have on hold, you can remove the hold:</p>
    
    <ol>
        <li>In the library’s digital collection, click or tap <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Account</a></strong>.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/DLR_account_icon.png" alt="Account button image">
        <li>Select your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyAccount.htm?PerPage=40%23myAccount2">Holds</a> </strong>page.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/account-holds.png" alt="Account hold section image">
        <li>Select <strong>Remove hold</strong> in the “Options” menu next to the title.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/remove-hold.png" alt="Remove hold link image">
    </ol>
    
    </div>
    </div>
    
    </ul>
    </div> -->

                        <!-- <div id="accord10">
    <a class="accordHeading far fa-caret-square-down"><span>OTHER SITE FEATURES</span></a>
    <ul class="accordExpand">
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I recommend titles?</span></div>
    <div class="hPanel">
    
    <p>You can browse through titles that the library doesn’t own yet, then recommend them for purchase.</p>
    
    <ol>
        <li>After you run a search, select <strong>Additional Titles to Recommend </strong>in the search filters.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/search-filter-rtl.png" alt="Additional Titles to Recommend link image">
        <li>Once you select the filter, the site will run your search again, adding titles the library doesn’t own yet into your results. Then, you can sort and filter your results to find exactly what you’re looking for.</li>
        <li>To figure out which titles you can recommend, look for the recommend icon.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/rtl-icon.png" alt="Recommend icon book image">
        <li>To recommend a title, mouse over it (or tap it, on a mobile device) and select the <strong>Recommend.</strong></li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/recommend-button.png" alt="Book hover recommend button image">
        <li>Enter your email address and click or tap <strong>Recommend this title</strong>.</li>
        <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/recommend-this-title.png" alt="Recommend this title button image">
    </ol>
    
    <p>Once you’ve recommended a title, its button will change to <strong>Recommended. </strong><br>To see all the titles you’ve recommended, open the library’s digital collection and go to <strong><a href="BANGSearch.dll?Type=Advanced&amp;RecommendedTitles=1&amp;URL=SearchResultsRecommendList.htm&amp;PerPage=20&amp;SortBy=colldate">Account &gt; Lists &gt; Titles you recommended</a></strong>.</p>
    
    </div>
    </div>
     -->
                        <!-- <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I make a list of titles I want to borrow later?</span></div>
    <div class="hPanel">
    
    <p>You can use your wish list to make a list of titles you want to borrow later.</p>
    
    <p>To add a title to your wish list, mouse over the title (or tap it on a mobile device) and select the ribbon in the bottom-left corner.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/wish-list-select.png" alt="Wishlist ribbon button image">
    
    <p>When a red ribbon appears on the cover, the title has been added to your wish list.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/wish-list-icon.png" alt="Wish list book cover icon image">
    
    <p>You can find your complete wish list in the library’s digital collection under <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyCompleteWishListCover.htm?PerPage=20&amp;StartRecord=1">Account &gt; Lists &gt; Wish list</a></strong>.</p>
    
    <p>You can see how many titles from your wish list are available to borrow in the “My Account” box in your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Account</a></strong>. Click or tap the number next to “Wish list items available” to view and borrow your available wish list items.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/my-account-wish-list-available.png" alt="Wish list items available image">
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I rate titles?</span></div>
    <div class="hPanel">
    
    <p>To rate a title, click or tap the stars on your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=MyAccount.htm?PerPage=40&amp;ForceLoginFlag=0">Checkouts</a></strong> page (under your <strong>Account</strong> in the library’s digital collection) or on a title’s details page. To remove your rating, click or tap the <strong>X</strong> next to the stars.</p>
    <img src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/rating.png" alt="Star rating image">
    
    <p>You can find your rated titles under your <strong><a href="BANGSearch.dll?Type=Advanced&amp;UserRating=1&amp;URL=SearchResultsUserRank.htm&amp;PerPage=20&amp;sortorder=ASC">Account &gt; Lists &gt; Rated titles</a></strong>.</p>
    
    </div>
    </div>
    
    <div class="hpWrapper">
    <div class="hPanelHead far fa-caret-square-down"><span class="hpText">How do I change my display and content settings?</span></div>
    <div class="hPanel">
    
    <p>Under your <strong><a href="BANGAuthenticate.dll?Action=AuthCheck&amp;ForceLoginFlag=0&amp;URL=MyAccount.htm?PerPage=40%23myAccount4">Account &gt; Settings</a></strong> in the library’s digital collection, you can set options for:</p>
    
    <ul>
        <li><strong>Lending periods:</strong> Set a default lending period for each format offered in the collection (this may include eBook, audiobook, and video).</li>
        <li><strong>Maturity level(s):</strong> Select the range of content you’d like to see while browsing (for example, Juvenile to General Adult).</li>
        <li><strong>Cover images:</strong> Select <strong>Yes</strong> to show mature adult covers, or <strong>No</strong> to replace them with basic covers.</li>
        <li><strong>High contrast:</strong> This makes the site high contrast to help visually impaired users.</li>
        <li><strong>Dyslexic font:</strong> This changes the font on this site to help users with dyslexia.</li>
    </ul>
    
    <p><em><strong>Note:</strong> You can’t use both high contrast and dyslexic font at the same time. </em></p>
    
    </div>
    </div>
    
    </ul>
    </div>
    
    
   
    </div>
    </div>
    
    </div>
     -->
                        <script>
                            $(document).ready(function () {
                                $(".hPanelHead").click(function () {
                                    $(this).next(".hPanel").slideToggle("medium");
                                    $(this).toggleClass('openPanel');
                                });

                                $(".accordHeading").click(function () {
                                    $(this).next(".accordExpand").slideToggle("medium");
                                    $(this).toggleClass('openHeadingPanel');
                                });
                            });
                        </script>

                        <script>
                            $(window).load(function () {

                                if (0 == 0) {
                                    //Remove RTL help info
                                    $('.RTSinfo').remove();
                                }
                                if (hazFmt[303] == 0) {
                                    //Hide MediaDo help info
                                    $('.mediaDoOff').remove();
                                }
                                if (hazFmt[304] == 0) {
                                    //Hide Nook help info
                                    $('.periodical').remove();
                                }
                                if (hazFmt[420] == 0) {
                                    //Hide Streaming Video info
                                    $('.kindleTitles').remove();
                                }
                                if (hazFmt[635] == 0) {
                                    //Hide Streaming Video info
                                    $('.streamingVideo').remove();
                                }

                            });

                            $(document).ready(function () {
                                $('#accord6 a').click(function () {
                                    $('#accord6 .hpText').trigger("click");
                                })
                                $('#accord4 a').click(function () {
                                    $('#help22Expand h4').trigger("click");
                                })
                            });
                        </script>

                        <!-- Add content to the popup -->
                        <div id="advSignPop" class="well popup_content popup_content_visible"
                            data-popup-initialized="true" role="dialog" tabindex="-1" style="display: none;">
                            <!--<a class="active_bg_close" onclick="setCookie()" style="float:right;">×</a>-->
                            <a class="active_bg_close" onclick="setCookie()" id="closeTour2"><img width="15" height="15"
                                    alt="Hide notification"
                                    src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/spacer.gif"></a>
                            <h4>Sign In</h4>
                            <p class="adDescription">More titles may be available to you. <a
                                    href="BANGAuthenticate.dll?Action=AuthCheck&amp;URL=Help.htm&amp;ForceLoginFlag=0"
                                    id="advSignLink"> Sign in now to see your library's full collection.</a></p>

                        </div>
                        <!-- Status bar : logs cookie status-->
                        <p style="visibility: hidden !important;">Status bar:<span id="statusBar"></span></p>

                        <div id="thunderPop" class="well popup_content popup_content_visible"
                            data-popup-initialized="true" role="dialog" tabindex="-1" style="display: none;">
                            <!--<a class="active_bg_close" onclick="setThunderCookie()" style="float:right;">×</a>-->
                            <a class="active_bg_close" onclick="setThunderCookie()" id="closeTour"><img width="15"
                                    height="15" alt="Hide notification"
                                    src="//libraryreserve.cdn.overdrive.com/350049/50/2.17/spacer.gif"></a>
                            <h4><a href="" id="previewLink" target="_blank">The new OverDrive is coming soon! Preview it
                                    now.</a></h4>
                        </div>
    </main>
    <script>
        function log(status) {
            var span = document.getElementById('statusBar');
            while (span.firstChild)
                span.removeChild(span.firstChild);
            span.appendChild(document.createTextNode(status));
        }

        // Name of the cookie on which all the actions will be performed.
        var cookieName = 'adv_signIn_popup';
        function setCookie() {
            // value to set in the cookie
            var cookieValue = 'dismiss adv signIn popup';

            // sets the cookie & closes ad
            $.cookie(cookieName, cookieValue);
            $.cookie('adv_signIn_popup', 'dismiss adv signIn popup', { expires: 1 });
            log('Cookie ' + cookieName + ' has been set.');
            $('#advSignPop').remove();
        }
        function setThunderCookie() {
            $.cookie('thunderPopup', 'dismiss thunder popup', { expires: 5 });
            $('#thunderPop').remove();
        }

        // On page load Checks if cookie is set or not
        if (1 == 1 && hazAdv == true) {
            $(window).load(function () {
                if (cookieValue = $.cookie(cookieName)) {
                    log(cookieName + ' = \'' + cookieValue + '\'');
                    $('#advSignPop').remove();
                    //console.log("Ad removed via set cookie data")
                } else {
                    var h = $("#advSignPop").height();
                    $("#advSignPop").css("display", "inline").css("bottom", "-" + h + "px");
                    //Make ad visible
                    //setTimeout(function(){$("#advSignPop").reveal();$("#advSignLink").focus();}, 30000);
                    setTimeout(function () {
                        //$('#advSignPop').show( "fast" );
                        //$('#advSignPop').fadeIn( "fast" );
                        $('#advSignPop').stop(true).animate({ 'bottom': 0 }, 1200, 'easeInOutQuint');
                        //console.log("Ad visible via unset cookie")
                    }, 15000);
                }
            });
        }
        if (0 == 1) {
            //var thunderPopUp = 0;
            //alert(thunderPopUp);
            var thunderCookie = $.cookie('thunderPopup');
            if (thunderCookie == "dismiss thunder popup") {
                $('#thunderPop').remove();
            } else {
                $("#nextGenTour").remove();
                $('#advSignPop').remove();
                $(window).load(function () {
                    var h = $("#thunderPop").height();
                    $("#thunderPop").css("display", "block").css("bottom", "-" + h + "px");
                    //Make ad visible
                    setTimeout(function () {
                        $('#thunderPop').stop(true).animate({ 'bottom': 0 }, 1200, 'easeInOutQuint');
                    }, 1500);
                });
            }
        }
    </script>
    </section>