<% layout('./layouts/boilerplate')%>
  <section class="memberships">

    <div class="container">
      <div class="row">
        <div class="col-md-12 heading">
          <h2>Memberships</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">




          <div class="tab-content responsive">
            <div class="tab-pane active" id="full" role="tabpanel">

              <div class="row mt-4">




                <div class="col-sm-6 col-md-6 package_wrapper">
                  <div class="package">
                    <div class="package_info">
                      <h3>Student</h3>
                      <p>Our Student membership.</p>
                    </div>
                    <div class="prices">
                      <div class="price_pa">5 JOD<span>/lifetime</span></div>
                    </div>
                    <button id="join_button" type="button" class="btn btn-primary" onclick="joinbutton()">Join Now !
                    </button>
                  </div>
                </div>



                <div class="col-sm-6 col-md-6 package_wrapper">
                  <div class="package">
                    <div class="package_info">
                      <h3>Standard</h3>
                      <p>Our Standard membership.</p>
                    </div>
                    <div class="prices">
                      <div class="price_pa">10 JOD<span>/lifetime</span></div>
                    </div>
                    <button id="join_button" type="button" class="btn btn-primary" onclick="joinbutton()">Join Now !
                    </button>
                  </div>
                </div>
                <li class="list-group-item">
                  <p><strong>What are the subscription terms and conditions? What are the required documents? </strong>
                  </p>
                  <p> - Subscription terms and conditions:

                    The subscriber must be at least 16 years of age.<br>

                    The subscription form must be filled in. (Please note that it is available on the Services counter,
                    located on the Ground Floor of the Library).<br>

                    The Subscription fees, must be paid only once,
                    to be refunded upon subscription cancellation.<br>

                    - Required documents:<br>

                    A proof of identity (i.e. a National ID for Jordanians and passport for non-Jordanians)<br>

                    A valid residence permit for non-Jordanians.</p>
                </li>
                <li class="list-group-item">
                  <p><strong>What is the subscription period? </strong> </p>
                  <p> The subscription lasts for a lifetime, unless the subscriber cancels their subscription and thus,
                    withdraws the Subscription Insurance value paid.</p>
                </li>
                <li class="list-group-item">
                  <p><strong>Is it possible to cancel the subscription membership? What are the terms and conditions
                      thereto? </strong> </p>
                  <p> Yes. Subscribers can cancel their subscription memberships as follows:

                    Upon confirmation that no Library-owned books are in their possession. And that the subscriber has
                    subscribed for 6 months or more.</p>
                </li>










              </div>


  </section>
  <script>
    function joinbutton() {
      alert("thank you for joining our community!")
      //  check if  is subscribe if false put it true
    }
  </script>